.testContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.598);
    border-radius: 12px;
}

.testBlocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.testBlock {
    margin-bottom: 2rem;
    width: 100%;
}

.testBlock .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    color: var(--main-blue);
}

.testBlock .title h1 {
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: lowercase;
}

.testBlock .answers {
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
}

.testBlock .answers button {
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.598);
    border: 2px solid var(--main-blue);
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
    text-transform: lowercase;
}

.testBlock .answers button.selected {
    background-color: var(--main-blue);
    color: white;
}

.testBlock .answers button:hover {
    background-color: var(--main-blue);
    color: white;
}

.testBlock .answers button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(135, 199, 255, 0.8);
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

.btnContainer .previousBtn button {
    padding: 0.7rem 3rem;
    background-color: var(--main-blue);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.btnContainer .previousBtn button:hover {
    background-color: var(--green);
    transform: translateY(-2px);
}

.btnContainer .submitBtn button {
    padding: 0.7rem 3rem;
    background-color: var(--main-blue);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.btnContainer .submitBtn button:hover {
    background-color: var(--pink);
    transform: translateY(-2px);
}
